# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\T\Java\ProjectNC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
